/* Just use under development 
   to see the grid system */
/*.row > div {
  border:1px solid #999;
  min-height:30px;
}*/

.spel-img {
  height:200px !important;
  /*width:100%;*/
}

footer h4, footer p {
  text-align:center;
}

main, footer {
  margin-top:40px;
}

header {
  margin-top:25px;
}

.no-top-margin {
  margin-top:0;
}

footer h4 {
  color:white;
}

.page {
  display:none;
}

#spela .btn {
  margin-bottom: 40px;
}

#spela .col-md-4 {
margin-top: 10px;
}