/* Just use under development 
   to see the grid system */
/*.row > div {
  border:1px solid #999;
  min-height:30px;
}*/

.spel-img {
  height:200px !important;
  /*width:100%;*/
}

footer h4, footer p {
  text-align:center;
}

main, footer {
  margin-top:40px;
}

header {
  margin-top:25px;
}

.no-top-margin {
  margin-top:0;
}

footer h4 {
  color:white;
}

.page {
  display:none;
}

#spela .btn {
  margin-bottom: 40px;
}

#spela .col-md-4 {
margin-top: 10px;
}

//WW

 
 .announcement {
     background-color: #484AD9; /*#2aabd2;*/
     width: 100%;
     height: 30px;
     color: white; /*#0f0f0f;*/
     text-align: center;
 }
 
 
 h1, h4{
     text-align: center;
     color: #484AD9; /*#204d74;*/
 }
 
 .announcement {
     background-color: #484AD9; /*#2aabd2;*/
     width: 100%;
     height: 30px;
     color: white; /*#0f0f0f;*/
     text-align: center;
 }
 
 .containerBoard {
     width: 100%;
     padding-left: 20%;
     padding-right: 20%;
     display: flex;
     justify-content: space-between;
     border: double;
 }
 
 .board {
    background: #484AD9;
    margin: 5%;
    width: 400px;
    height: 300px;
    margin-right: 450px;
    margin-top: 20px;
 }
 
 .cell {
    width: 100px;
    height: 70px;
    background-color: white; /*#9d9d9d;*/
    background-size: cover;
    margin: 20px;
    border-radius: 25px;
    border-radius: 35px;
    text-align: center;
  }
  
 .cell:hover {
     background-color: white; /*#EBF0C5;*/
 }
 
  .btn-group {
      display: flex;
      justify-content: center;
 }
 
 #btn-reset {
     visibility: hidden;
} 